{% extends 'base.html' %}

{% block styles %}
    {{ super() }}
    <link href="{{ url_for('static', filename='css/frontend.css') }}" rel="stylesheet" />
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="{{ url_for('static', filename="js/frontend.js") }}"></script>
{% endblock %}

{% block body %}
    <header>
        <h1>
            <a href="#">CUPON</a>
        </h1>
        <nav>
            <ul>
                <li><a href="#">Oferta del dia</a></li>
                <li><a href="#">Ofertas recientes</a></li>
                <li><a href="#">Mis ofertas</a></li>
            </ul>
        </nav>
    </header>
    <article class="oferta">
        {% block article %}{% endblock %}
    </article>
    <aside>
        {% block aside %}
            {% block registrate %}
                <a id="registrate" class="boton" href="#">Regístrate</a>
            {% endblock %}

            <section id="login">
                {# Formulario Login #}
            </section>
        {% endblock %}
    </aside>
{% endblock %}